<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="mb-3">
              <label for="username" class="form-label">Név</label>
              <input type="text" #userName (ngModel)="userName" class="form-control" id="userName" name="userName">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email-cim</label>
              <input type="email" #email (ngModel)="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Autó tipusa</label>
                <input type="text" #carType (ngModel)="carType" class="form-control" id="carType" name="carType">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Autó szin</label>
                <input type="text" #carColour (ngModel)="carColour" class="form-control" id="carColour" name="carColour">
              </div>
            <input type="submit" class="btn btn-primary cent" value="Mentés">
        </form>
    </div>
</body>
</html>
